<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>SOS VET</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">SOS VET</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button expand="full" (click)="obtenerUbicacionActual()" color="success">
    Buscar Veterinarias Cercanas
  </ion-button>

  <ion-spinner *ngIf="cargando" name="crescent"></ion-spinner>

  <ion-list *ngIf="veterinariasCercanas.length > 0">
    <ion-item *ngFor="let veterinaria of veterinariasCercanas">
      <ion-label>
        <h2>{{ veterinaria.name }}</h2>
        <p>{{ veterinaria.vicinity }}</p>
        <p *ngIf="veterinaria.opening_hours">
          {{ veterinaria.opening_hours.open_now ? 'Abierto ahora' : 'Cerrado ahora' }}
        </p>
      </ion-label>
      <ion-button
      slot="end"
      color="primary"
      (click)="abrirGoogleMaps(veterinaria.geometry.location.lat, veterinaria.geometry.location.lng)"
    >
      Ver ruta
      <ion-icon slot="icon-only" name="map"></ion-icon>
    </ion-button>
    </ion-item>
  </ion-list>

  <div *ngIf="!cargando && veterinariasCercanas.length === 0">
    <p>No se encontraron veterinarias cercanas.</p>
  </div>
</ion-content>
